<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{admin/fragments/fragment :: header}"></head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav th:replace="~{admin/fragments/fragment :: nav1}"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav th:replace="~{admin/fragments/fragment :: nav2}"></nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-16 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
		               <div class="col-12 grid-margin stretch-card">
		                <div class="card">
		                  <div class="card-body">
		                    <h4 class="card-title">New Payroll</h4>
		                    <p class="card-description"> Please fillup the following for adding your payroll here. </p>
		                    <form class="forms-sample" th:action="@{/collect_payroll}" method="post" th:object="${payroll}">
		                      <div class="form-group">
		                        <label>Employee</label>
		                        <select class="form-select" name="employee" th:value="${employee}">
		                          <option value=0>Select</option>
		                          <option th:each="employee : ${employeeByStatus}" th:value="${employee.idEmployee}" th:text="${employee.firstName} + ' ' + ${employee.userId} ">Disable</option>
		                        </select>
		                      </div>
		                      <div class="form-group">
		                        <label for="basicSalary">Salary</label>
		                        <input type="text" class="form-control" name="basicSalary" th:value="${basicSalary}" placeholder="Salary" disabled>
		                      </div>
		                      <div class="form-group">
		                        <label for="totalAllowences">Allowences</label>
		                        <input type="text" class="form-control" name="totalAllowences" th:value="${totalAllowences}" placeholder="Allowences" disabled>
		                      </div>
		                      <div class="form-group">
		                        <label for="totalDeductions">Deductions</label>
		                        <input type="text" class="form-control" name="totalDeductions" th:value="${totalDeductions}" placeholder="Deductions" disabled>
		                      </div>
		                      <div class="form-group">
		                        <label for="netSalary">Net Salary</label>
		                        <input type="text" class="form-control" name="netSalary" th:value="${netSalary}" placeholder="Net Salary" disabled>
		                      </div>
		                      <div class="form-group">
		                        <label>Status</label>
		                        <select class="form-select" name="status" th:value="${status}">
		                          <option value=0>Pending</option>
		                          <option value=1>Waiting</option>
		                          <option value=2>Approved</option>
		                        </select>
		                      </div>
		                      <button type="submit" class="btn btn-primary me-2">Collect Data</button>
		                      <button type="submit" class="btn btn-primary me-2">Submit</button>
		                      <button class="btn btn-light">Cancel</button>
		                    </form>
		                  </div>
		                </div>
		              </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="~{admin/fragments/fragment :: footer}"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <div th:replace="~{admin/fragments/fragment :: footscript}"></div>
  </body>
</html>