<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{admin/fragments/fragment :: header}"></head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav th:replace="~{admin/fragments/fragment :: nav1}"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav th:replace="~{admin/fragments/fragment :: nav2}"></nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-16 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                      <div>
                        <!-- <h4 class="card-title card-title-dash">Recent Employee</h4> -->
                        <h4 class="card-title card-title-dash">Teams</h4>
                      </div>
                      <div>
                        <a type="button" th:href="@{/new_team}" class="btn btn-primary btn-rounded btn-icon">
                          <i class="mdi mdi-account-plus"></i> Add New
                      </a>
                      </div>
                    </div>
                    <div class="table-responsive">
                      
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Sl#</th>
                            <th>Name</th>
                            <th>Created On</th>
                            <th>Updated On</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<tr th:if="${#lists.isEmpty(teams)}">
                        		<td colspan="6">Your don't have any team yet.</td>
                        	</tr>
                        	<tr th:if="${msgString != null}">
                        		<td colspan="6"><span th:text="${msgString}"></span></td>
                        	</tr>
                          <tr th:each="team : ${teams}">
                            <td th:text="${teamStat.count}">Jacob</td>
                            <td th:text="${team.teamName}">53275531</td>
                            <td th:text="${team.createDate}">12 May 2017</td>
                            <td th:text="${team.updateDate}">12 May 2017</td>
                            <td th:text="${team.status == 1 ? 'Enable' : (team.status == 0 ? 'Disable' : 'Unknown')}"></td>
                            <td>
                            	<a type="button" class="btn btn-primary btn-md" th:href="@{/edit_team/{id}(id=${team.idTeam})}">Edit</a>
                            	<a type="button" class="btn btn-danger btn-md" th:href="@{/del_team/{id}(id=${team.idTeam})}" 
                            	   onclick="return confirm('Are you sure you want to delete this department?');">
                            	   Delete
                            	</a>
                            </td>
                          </tr>
	                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="~{admin/fragments/fragment :: footer}"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
<div th:replace="~{admin/fragments/fragment :: footscript}"></div>
  </body>
</html>